In [1]:
# # Packages to locally download data into the notebook:
# import requests
# import zipfile
import glob

#Numpy
import numpy as np

#For image plotting
import skimage.io

#Matplotlib plotting packages
import matplotlib.pyplot as plt
from matplotlib.colors import Normalize
import matplotlib.colors as mcolors
import matplotlib.cm as cm
from mpl_toolkits.axes_grid1 import make_axes_locatable

#scipy
import scipy
from scipy import optimize
from scipy.optimize import curve_fit

# For loading bars
from tqdm.notebook import tqdm as tqdm

import pandas as pd

In [2]:
file_path = '../../data/mot-cal/'
file_type = '.csv'
comment = '%'

#-----------------------------------------------------------------------------------------------------------------#
### Fgure 2 Data ###
#-----------------------------------------------------------------------------------------------------------------#
file_name = 'Schief2003PNAS_Fig2'
schief2_df = pd.read_csv(file_path + file_name + file_type, comment=comment, names=["kx", "ky", #black
                                                                                     "yx", "yy", #yellow
                                                                                     "gx", "gy", #green
                                                                                     "bx", "by", #blue
                                                                                     "rx", "ry"]) #red
schief2_df=schief2_df[2:]
schief2_df.index = schief2_df.index - 2
schief2_df = schief2_df.astype(float)

#-----------------------------------------------------------------------------------------------------------------#
### Figure 4A Data (Phosphate concentration vs speed for difference ATP concentrations) ###
#-----------------------------------------------------------------------------------------------------------------#
file_name = 'Schief2003PNAS_Fig4A'
schief4A_df = pd.read_csv(file_path + file_name + file_type, comment=comment, names=["cx", "cy", #cyan (light blue)
                                                                                     "yx", "yy", #yellow
                                                                                     "kx", "ky", #black
                                                                                     "rx", "ry", #red
                                                                                     "gx", "gy", #green
                                                                                     "bx", "by"]) #blue
schief4A_df=schief4A_df[2:]
schief4A_df.index = schief4A_df.index - 2
schief4A_df = schief4A_df.astype(float)

#-----------------------------------------------------------------------------------------------------------------#
### Figure 4B Data (ADP concentration vs speed for difference ATP concentrations) ###
#-----------------------------------------------------------------------------------------------------------------#
file_name = 'Schief2003PNAS_Fig4B'
schief4B_df = pd.read_csv(file_path + file_name + file_type, comment=comment, names=["yx", "yy", #yellow
                                                                                     "kx", "ky", #black
                                                                                     "rx", "ry", #red
                                                                                     "gx", "gy", #green
                                                                                     "bx", "by"]) #blue
schief4B_df=schief4B_df[2:]
schief4B_df.index = schief4B_df.index - 2
schief4B_df = schief4B_df.astype(float)

In [3]:
#Figure 2 (Speed vs ATP Conc)
schief2_df_k = schief2_df[['kx', 'ky']].dropna()
schief2_df_y = schief2_df[['yx', 'yy']].dropna()
schief2_df_g = schief2_df[['gx', 'gy']].dropna()
schief2_df_b = schief2_df[['bx', 'by']].dropna()
schief2_df_r = schief2_df[['rx', 'ry']].dropna()
#------------------------------------------------#
#Figure 4A (Speed vs P Conc)
schief4A_df_k = schief4A_df[['kx', 'ky']].dropna()
schief4A_df_y = schief4A_df[['yx', 'yy']].dropna()
schief4A_df_g = schief4A_df[['gx', 'gy']].dropna()
schief4A_df_b = schief4A_df[['bx', 'by']].dropna()
schief4A_df_r = schief4A_df[['rx', 'ry']].dropna()
schief4A_df_c = schief4A_df[['cx', 'cy']].dropna()
#------------------------------------------------#
#Figure 4B (Speed vs ADP Conc)
schief4B_df_k = schief4B_df[['kx', 'ky']].dropna()
schief4B_df_y = schief4B_df[['yx', 'yy']].dropna()
schief4B_df_g = schief4B_df[['gx', 'gy']].dropna()
schief4B_df_b = schief4B_df[['bx', 'by']].dropna()
schief4B_df_r = schief4B_df[['rx', 'ry']].dropna()

In [4]:
schief2_df_k

              kx          ky
0   19385.626151  863.551193
1    9786.773883  914.573970
2    2904.223563  968.611419
3    2905.445193  897.239919
4    2906.361753  847.184184
5     978.574498  932.242903
6     978.883202  880.234402
7     979.192003  831.127381
8     294.181848  932.242903
9     294.295278  869.076830
10    294.377801  825.843028
11    184.406309  769.886302
12     97.960389  769.886302
13     97.970689  755.294537
14     98.005030  708.623438
15     86.367226  695.192796
16     48.924049  581.490918
17     29.508017  535.219411
18     29.515257  511.848311
19     29.526638  477.166955
20     29.542164  433.629793
21     29.548376  417.348267
22     19.455729  447.681893
23     14.569173  325.435836
24      9.853540  265.352213
25      9.857685  245.799909
26      9.859067  239.608039
27      9.865634  212.260805
28      4.932345  132.398680
29      4.933901  125.012347
30      1.966825   61.978886

In [5]:
#Figure 2 (Speed vs ATP Conc)
schief2_df_k=schief2_df_k.rename(columns={'kx':'ATP (uM)', 'ky':'Speed (nm/s)'})
schief2_df_y=schief2_df_y.rename(columns={'yx':'ATP (uM)', 'yy':'Speed (nm/s)'})
schief2_df_g=schief2_df_g.rename(columns={'gx':'ATP (uM)', 'gy':'Speed (nm/s)'})
schief2_df_b=schief2_df_b.rename(columns={'bx':'ATP (uM)', 'by':'Speed (nm/s)'})
schief2_df_r=schief2_df_r.rename(columns={'rx':'ATP (uM)', 'ry':'Speed (nm/s)'})
#------------------------------------------------#
#Figure 4A (Speed vs P Conc)
schief4A_df_k=schief4A_df_k.rename(columns={'kx':'P (uM)', 'ky':'Speed (nm/s)'})
schief4A_df_y=schief4A_df_y.rename(columns={'yx':'P (uM)', 'yy':'Speed (nm/s)'})
schief4A_df_g=schief4A_df_g.rename(columns={'gx':'P (uM)', 'gy':'Speed (nm/s)'})
schief4A_df_b=schief4A_df_b.rename(columns={'bx':'P (uM)', 'by':'Speed (nm/s)'})
schief4A_df_r=schief4A_df_r.rename(columns={'rx':'P (uM)', 'ry':'Speed (nm/s)'})
schief4A_df_c=schief4A_df_c.rename(columns={'cx':'P (uM)', 'cy':'Speed (nm/s)'})
#------------------------------------------------#
#Figure 4B (Speed vs ADP Conc)
schief4B_df_k=schief4B_df_k.rename(columns={'kx':'ADP (uM)', 'ky':'Speed (nm/s)'})
schief4B_df_y=schief4B_df_y.rename(columns={'yx':'ADP (uM)', 'yy':'Speed (nm/s)'})
schief4B_df_g=schief4B_df_g.rename(columns={'gx':'ADP (uM)', 'gy':'Speed (nm/s)'})
schief4B_df_b=schief4B_df_b.rename(columns={'bx':'ADP (uM)', 'by':'Speed (nm/s)'})
schief4B_df_r=schief4B_df_r.rename(columns={'rx':'ADP (uM)', 'ry':'Speed (nm/s)'})

Add color

In [6]:
schief2_df_k['color']=['k']*len(schief2_df_k)
schief2_df_y['color']=['y']*len(schief2_df_y)
schief2_df_g['color']=['g']*len(schief2_df_g)
schief2_df_b['color']=['b']*len(schief2_df_b)
schief2_df_r['color']=['r']*len(schief2_df_r)
#------------------------------------------------#
#Figure 4A (Speed vs P Conc)
schief4A_df_k['color']=['k']*len(schief4A_df_k)
schief4A_df_y['color']=['y']*len(schief4A_df_y)
schief4A_df_g['color']=['g']*len(schief4A_df_g)
schief4A_df_b['color']=['b']*len(schief4A_df_b)
schief4A_df_r['color']=['r']*len(schief4A_df_r)
schief4A_df_c['color']=['c']*len(schief4A_df_c)
#------------------------------------------------#
#Figure 4B (Speed vs ADP Conc)
schief4B_df_k['color']=['k']*len(schief4B_df_k)
schief4B_df_y['color']=['y']*len(schief4B_df_y)
schief4B_df_g['color']=['g']*len(schief4B_df_g)
schief4B_df_b['color']=['b']*len(schief4B_df_b)
schief4B_df_r['color']=['r']*len(schief4B_df_r)

Add ATP Value

In [7]:
#------------------------------------------------#
#Figure 4A (Speed vs P Conc)
schief4A_df_k['ATP (uM)']=100*np.ones(len(schief4A_df_k))
schief4A_df_y['ATP (uM)']=300*np.ones(len(schief4A_df_y))
schief4A_df_g['ATP (uM)']=10*np.ones(len(schief4A_df_g))
schief4A_df_b['ATP (uM)']=5*np.ones(len(schief4A_df_b))
schief4A_df_r['ATP (uM)']=30*np.ones(len(schief4A_df_r))
schief4A_df_c['ATP (uM)']=1000*np.ones(len(schief4A_df_c))
#------------------------------------------------#
#Figure 4B (Speed vs ADP Conc)
schief4B_df_k['ATP (uM)']=10000*np.ones(len(schief4B_df_k))
schief4B_df_y['ATP (uM)']=20000*np.ones(len(schief4B_df_y))
schief4B_df_g['ATP (uM)']=1000*np.ones(len(schief4B_df_g))
schief4B_df_b['ATP (uM)']=300*np.ones(len(schief4B_df_b))
schief4B_df_r['ATP (uM)']=3000*np.ones(len(schief4B_df_r))

Add ADP Value

In [8]:
schief2_df_k['ADP (uM)']=0*np.ones(len(schief2_df_k))
schief2_df_y['ADP (uM)']=0*np.ones(len(schief2_df_y))
schief2_df_g['ADP (uM)']=1000*np.ones(len(schief2_df_g))
schief2_df_b['ADP (uM)']=1000*np.ones(len(schief2_df_b))
schief2_df_r['ADP (uM)']=5000*np.ones(len(schief2_df_r))
#------------------------------------------------#
#Figure 4A (Speed vs P Conc)
schief4A_df_k['ADP (uM)']=0*np.ones(len(schief4A_df_k))
schief4A_df_y['ADP (uM)']=0*np.ones(len(schief4A_df_y))
schief4A_df_g['ADP (uM)']=0*np.ones(len(schief4A_df_g))
schief4A_df_b['ADP (uM)']=0*np.ones(len(schief4A_df_b))
schief4A_df_r['ADP (uM)']=0*np.ones(len(schief4A_df_r))
schief4A_df_c['ADP (uM)']=0*np.ones(len(schief4A_df_c))
#------------------------------------------------#

Add P Values

In [9]:
schief2_df_k['P (uM)']=0*np.ones(len(schief2_df_k))
schief2_df_y['P (uM)']=10000*np.ones(len(schief2_df_y))
schief2_df_g['P (uM)']=5000*np.ones(len(schief2_df_g))
schief2_df_b['P (uM)']=0*np.ones(len(schief2_df_b))
schief2_df_r['P (uM)']=0*np.ones(len(schief2_df_r))

#------------------------------------------------#
#Figure 4B (Speed vs ADP Conc)
schief4B_df_k['P (uM)']=0*np.ones(len(schief4B_df_k))
schief4B_df_y['P (uM)']=0*np.ones(len(schief4B_df_y))
schief4B_df_g['P (uM)']=0*np.ones(len(schief4B_df_g))
schief4B_df_b['P (uM)']=0*np.ones(len(schief4B_df_b))
schief4B_df_r['P (uM)']=0*np.ones(len(schief4B_df_r))

Combine lines of the same plot in a data frame

In [13]:
schief2_df_concat = pd.concat([schief2_df_k, schief2_df_y, schief2_df_g, schief2_df_b, schief2_df_r])
schief2_df_concat['fig'] = ['2']*len(schief2_df_concat)

schief4A_df_concat = pd.concat([schief4A_df_k, schief4A_df_y, schief4A_df_g, schief4A_df_b, schief4A_df_r, schief4A_df_c])
schief4A_df_concat['fig'] = ['4A']*len(schief4A_df_concat)

schief4B_df_concat = pd.concat([schief4B_df_k, schief4B_df_y, schief4B_df_g, schief4B_df_b, schief4B_df_r])
schief4B_df_concat['fig'] = ['4B']*len(schief4B_df_concat)

All figs in one dataframe

In [20]:
schief2_df_allfig = pd.concat([schief2_df_concat, schief4A_df_concat, schief4B_df_concat])
schief2_df_allfig = schief2_df_allfig[['ATP (uM)', 'ADP (uM)', 'P (uM)', 'Speed (nm/s)', 'fig', 'color']]
schief2_df_allfig.to_csv('../../data/mot-cal/Schief2003PNAS_AllFig.csv')